*{
    box-sizing: border-box;
}

#container{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    width: 532px;
    height: 532px;
    background-color: aliceblue;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    margin: 0;
    padding: 0;
    background-color:whitesmoke;
}

#container > div{
    margin: 0;
    border: 1px solid grey;
    width: 52.8px;
    height: 52.8px;
    overflow: hidden;
}

.btn{
    margin-bottom: 100px;
}

button{
    text-decoration: none;
    color:white;
    background-color: #a2d2ff;
    border: solid rgb(81, 192, 111);
    border-radius: 10px;
    padding:12px 33px;;
    font-size: 20px;
    font-weight: 900;
}
